apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: java-app
  namespace: production
  labels:
    app: java-app
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: java-app
